[Unit]
Description=Grayes Greenhouse Monitors

[Service]
Type=idle
ExecStart=sleep 60 && /usr/bin/python3 /home/toby/grayes-monitors/sensors.py
Restart=always
User=toby

[Install]
WantedBy=multi-user.target
