[Unit]
Description=Grayes Greenhouse Monitors

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/toby/grayes-monitors/dht22/dht22.py
Restart=always
User=toby

[Install]
WantedBy=multi-user.target
